h1{
    font-family: cursive;
    color: white;
}

#color-acento{
    color: darkgoldenrod;
}

body{
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ),
    url(https://img.lalr.co/cms/2017/12/01211936/11111.png?size=xl);
    background-size: cover;
    color: white;
    font-family: cursive;
    text-align: center;
}

#titulo{
    padding: 100px;
    padding-top: 0px;
}

#boton2{
    padding: 70px;
    padding-top: 5px;
}

button:hover{
    color: white;
    background-color: darkgoldenrod;
    border: rgba(0, 0, 0, 0);
    font-size: 25px;
}

button{
    font-size: 20px;
    border-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

#boton3 a{
    text-decoration: none;
    color: white;
}
