h1{
    font-size: 50px;
    font-family: cursive;
    color: white;
}

h2{
    font-size: 40px;
    font-family: cursive;
    color: white;
}

#Color-acento{
    color: darkgoldenrod;
}

#fecha{
    padding-top: 60px;
}

#lugar h1{
    padding-top: 50px;
}

border{
    color: blue;
}

tbody{
    background-color: rgba(184, 135, 11, 0.151);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

thead{
    background-color: rgba(184, 135, 11, 0.089);
    color: darkgoldenrod;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(https://cdn-3.expansion.mx/dims4/default/e364cb7/2147483647/strip/true/crop/620x457+0+0/resize/1800x1327!/format/webp/quality/90/?url=https%3A%2F%2Fcherry-brightspot.s3.amazonaws.com%2Fphotos%2F2013%2F12%2F28%2F35808_20131228083341-1388284421-Q000.jpg);
    background-size: cover;
}

table{
    border: 3px solid rgba(0, 0, 0, 0);
}

button{
    font-family: cursive;
    font-size: 25px;
    color: white;
    background-color: rgba(184, 135, 11, 0);
    border-color: rgba(0, 0, 0, 0);
}

button:hover{
    color: darkgoldenrod;
}
